<!DOCTYPE html>
<html lang="en">
<head>
    #include("../../assets/html/head.html")
    <title>测试</title>
</head>

<body>

<div class="shadow-none p-3 mb-5 bg-light rounded">No shadow</div>
<div class="shadow-sm p-3 mb-5 bg-white rounded">Small shadow</div>
<div class="shadow p-3 mb-5 bg-white rounded">Regular shadow</div>
<div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div>
1111
<button id="test" class="btn btn-primary btn-lg">测试</button>
<div class="test">
    <div>111</div>
    <div>222</div>
</div>
<span class="fa fa-heart fa-5x"></span>
<div class="t2" title="前端技术&#10;交互设计&#10;移动&#215;开发">333,sdfa,sdf今天。打分a.ad，的发射点发。阿斯蒂芬，。阿斯蒂芬。</div>
<div class="t3">&#10003;</div>
<div class="t3">&#10007;</div>
<div class="t3">&#10005;</div>
<div class="t3">&#215;</div>
<div class="t3">&#9786; &#9787;</div>
</body>
</html>
