sass_binary_site=http://npm.taobao.org/mirrors/node-sass
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs
electron_mirror=http://npm.taobao.org/mirrors/electron
registry=http://registry.npm.taobao.org
