<!DOCTYPE html>
<html lang="en">
<head>
    #include("../../../assets/html/head.html")
    <title>任务情况分析</title>
</head>
<body>
<div class="h-100 d-flex flex-column">
    #include("../../../assets/html/nav.html")
    <section class="h-100 d-flex row m-0">
        #include("../../../assets/html/aside.html")
        <section class="h-100 col-md-9 col-lg-10 page-section" style="overflow: auto">
            <div id="statisticalCost">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:sessionStorage.removeItem('menu_id');location.href = '/';">首页</a></li>
                        <li class="breadcrumb-item active">统计分析</li>
                        <li class="breadcrumb-item active" aria-current="page">运行成本</li>
                    </ol>
                </nav>
                <h3 class="text-center my-3">车辆运行成本分析</h3>
                <div class="py-2">
                    <span class="mr-5">时间：2018-09-01至2018-09-30</span>
                    <span class="mr-5">性质：全部/公务车/生产车</span>
                    <span class="mr-5">车牌号码：粤A L1432</span>
                    <button type="button" class="btn btn-primary btn-sm"><span class="px-2">查询</span></button>
                </div>
                <div class="card">
                    <div class="card-header">
                        成本明细
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="chart1" style="width: 500px;height:260px;"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="chart2" style="width: 500px;height:260px;"></div>
                            </div>
                        </div>
                        <div id="dg1"></div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
</body>
</html>
