@import "../../../node_modules/bootstrap/scss/bootstrap";

/**
    这里放一些自定义的全局css
 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.bg-eee {
    background: #eeeeee;
}

