<!DOCTYPE html>
<html lang="en">
<head>
    #include("../../assets/html/head.html")
    <title>测试</title>
</head>
<body>
<div class="h-100 d-flex flex-column">
    #include("../../assets/html/nav.html")
    <section class="flex-grow-1 d-flex row m-0">
        #include("../../assets/html/aside.html")
        <section class="col-md-9 col-lg-10 flex-grow-1 page-section" id="content">

        </section>
    </section>
</div>
<script>
    let link = `https://www.yanxiaojun617.com/fileService/file/version-admin/20181008/` + sessionStorage.getItem('menu_link');
    document.getElementById('content').innerHTML = '<img src="' + link + '" alt="">'
</script>
</body>
</html>
