.navbar-warp {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 60px;
    }
}

.navbar-menu {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    > a {
        line-height: 60px;
        font-size: 16px;
        color: #ed4700;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
            //border-bottom: 2px solid #ed4700;
            box-shadow: inset 0 -2px 0 #ed4700;
        }
    }
}

.content-title {
    padding-top: 60px;
    margin-bottom: 40px;
}

.page-banner {
    background: url("../../assets/img/banner-bg.jpg") no-repeat top left;
    background-size: 100% 550px;
    width: 100%;
    height: 550px;
    .row {
        margin: 0;
    }
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 24px;
        padding-top: 150px;
    }
    h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .banner-content {
        h1 {
            font-size: 40px;
            padding-top: 0;
        }
        h3 {
            font-size: 30px;
        }
    }
}

.banner-inner-img {
    animation: bannerInnerImgMove 5s infinite linear;
}

@keyframes bannerInnerImgMove {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(40px);
    }
    75% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

.business-type {
    font-family: "Microsoft Yahei", serif;
    letter-spacing: 5px;
    font-size: 30px;
    color: #fff3f3;
    background: #a14874;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .business-type {
        width: 200px;
        height: 200px;
        font-size: 40px;
    }
}

.bg1 {
    background: #a14874;
}

.bg2 {
    background: #ca4632;
}

.bg3 {
    background: #187881;
}

.bg4 {
    background: #ffb603;
}

.bg5 {
    background: #df89ac;
}

.bg6 {
    background: #00a048;
}
