<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--针对ie,如果ie版本小于ie11则提示升级浏览器-->
    <script>/*@cc_on @*//*@ window.location.href="http://www.goody.com.cn/2014/updatebrowser/?referrer="+encodeURIComponent(window.location.href); @*/</script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>產品介紹</title>
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom">
    <img src="../../assets/img/logo.png" alt="" style="width: 50px;margin: 0 10px">
    <h6 class="my-0 mr-md-auto font-weight-normal">智威集團控股有限公司<br>Wiseway Group Holdings Limited</h6>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="index.html">首頁</a>
        <a class="p-2 text-dark" href="index.html#about">關於我們</a>
        <a class="p-2 text-dark" href="index.html#product">產品介紹</a>
        <a class="p-2 text-dark" href="index.html#contact">聯繫我們</a>
    </nav>
</div>
<div class="product_introduction">
    <div class="container pt-5  pb-5">
        <h1 class="text-dark">Get Aider 愛心服務平臺</h1>
        <p class="text-white">Get Aider 愛心服務平臺為用戶提供快速貼身線下到位、到點港式服務，為親人和子女建立溝通的橋梁，家人能知道使用者的最新健康資料和生活狀況。</p>
        <p class="text-white">為客戶篩選最佳的有償服務供貨商，用智能軟件加上我們的客服，有效地配套在我們的服務，為客戶提供更多的無償服務。</p>
    </div>
</div>
<div class="container">
    <div class="text-center mt-5">
        <h2>人口老齡化趨勢</h2>
        <div class="border-top mt-3 pt-3">
            <img src="../../assets/img/aging.jpg" alt="" class="img-fluid w-75">
            <p class="text-left ml-5 mr-5">
                我國正處於人口老齡化快速發展期。數據顯示，60歲以上老年人口已經達到2.12億， 占總人口的15.5%，失能和部分失能老年人近4000萬人，其中完全失能的老年人有
                1200萬人。65周歲以上人口13755萬人，占總人口比例為10.1%。2020年全國老年 人口將達2.48億，老齡化水平為17%。
            </p>
        </div>
    </div>
    <div class="mt-5">
        <h2 class="text-center">養老現狀</h2>
        <div class="row border-top mt-3 pt-3">
            <div class="col-3">
                <img src="../../assets/img/pension_status_1.png" alt="" class="img-fluid">
                <p>機構集中養老方便管理，但缺乏親情，無法給 老年人帶來生活水平的提升。</p>
            </div>
            <div class="col-3">
                <img src="../../assets/img/pension_status_2.jpg" alt="" class="img-fluid">
                <p>硬件設施與服務水平參差不齊。</p>
            </div>
            <div class="col-3">
                <img src="../../assets/img/pension_status_3.jpg" alt="" class="img-fluid">
                <p>中國現有養老機構床位僅覆蓋2%的老人。</p>
            </div>
            <div class="col-3">
                <img src="../../assets/img/pension_status_4.jpg" alt="" class="img-fluid">
                <p>對老人的心理情緒上的關懷不足，老人更需要 得到家庭親情與社會參與感，以及與年輕人的 有效互動，並發揮能力所長，展現自我價值。</p>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <h2>24小時關愛及緊急支援服務</h2>
        <div class="border-top mt-3 pt-3">
            <img src="../../assets/img/rescue_service_1.jpg" alt="" class="img-fluid">
            <img src="../../assets/img/rescue_service_2.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="text-center mt-5">
        <h2>數據采集</h2>
        <div class="border-top mt-3 pt-3">
            <img src="../../assets/img/data_acquisition.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="text-center mt-5">
        <h2>服務原則</h2>
        <div class="border-top mt-3 pt-3">
            <img src="../../assets/img/service_principle.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="text-center mt-5">
        <h2>展望未來</h2>
        <div class="border-top mt-3 pt-3">
            <img src="../../assets/img/look_future.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="mt-5">
        <h2 class="text-center">合作模式</h2>
         <div class="row border-top mt-3 pt-3">
             <div class="col-5 row">
                 <div class="col text-right">
                     <i class="fa fa-handshake-o" style="font-size: 30px;"></i>
                 </div>
                 <div class="col">
                     <h3>加盟代理</h3>
                     <p>可當壹級代理，經銷品牌的穿戴設備及關愛服務</p>
                 </div>
             </div>
             <div class="col-6 row">
                 <div class="col text-right">
                     <i class="fa fa-group" style="font-size: 30px;"></i>
                 </div>
                 <div class="col">
                     <h3>共享模式</h3>
                     <p>以新品牌加建電商平臺,實行結合網店,實體店和電話直接暖銷售之多角度方式,照顧不同需要的客人</p>
                 </div>
             </div>
         </div>
    </div>
    <div class="mt-5 d-none">
        <h2 class="text-center">我們的團隊</h2>
        <div class="row border-top mt-3 pt-3">
            <div class="col-4">
                <h5 class="text-center">7x24小時話務中心</h5>
                <p>年中無休的話務服務中心，專業解答老人生活中的各類問題，隨時與老人
                    溝通與交流，當老人需要幫助時，提供及時的指導或聯系線下誌願者上線服務團隊進行上門服務。時刻關愛老人，隨時對老人進行心理疏導和情緒管理。</p>
            </div>
            <div class="col-4">
                <h5 class="text-center">线下服务团队</h5>
                <p>以数据作为驱动，对老人的实时监测数据进行主动及时响应，遇到突发情 况，第一时间做出快速反应，同时对老人提出的需求提供线下服务。</p>
            </div>
            <div class="col-4">
                <h5 class="text-center">技術團隊</h5>
                <p>獨立自主和科騰公司合作的技術研發中心，專業JAVA、C#、微信、手機APP等各種軟硬件開發應用，可針對各種需求量及配合不同線下服務公司的平臺度身打造，在移動互聯網時代，滿足瞬息萬變的市場需求。</p>
            </div>
        </div>
    </div>
</div>
<footer class="mt-5 pt-3 pb-3 border-top text-center" style="background: #333333;color: #fff">
    版權所有：智威集團控股有限公司
</footer>
</body>
</html>
