<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>鉴票宝</title>
</head>
<body>
<aside class="d-none d-sm-block"></aside>
<section>
    <nav>
        <div class="form-group row">
            <label for="invoiceQRCode" class="col title">
                <img src="../../assets/img/logo.png" alt=""><span class="d-md-none d-lg-inline">鉴票宝</span>
            </label>
            <div class="col-6 d-none d-md-block">
                <input id="invoiceQRCode" class="form-control form-control-lg invoice-code" type="text"
                       placeholder="添加发票-请扫描发票二维码" autofocus>
            </div>
            <div class="col avatar">
                <img src="../../assets/img/avatar.png" alt="头像" title="这只是logo">
                <button type="button" class="btn btn-link" id="logout">退出</button>
            </div>
        </div>
    </nav>
    <section>
        <!--DataGrid ToolBar-->
        <div id="tb" style="padding: 5px 10px">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" id="btnDelete"><i class="fa fa-fw fa-trash-o"></i>&nbsp;删除
                </button>
                <button type="button" class="btn btn-success" id="btnAdd"><i class="fa fa-fw fa-plus"></i>&nbsp;新增
                </button>
                <button type="button" class="btn btn-info" id="btnExport"><i class="fa fa-fw fa-file-excel-o"></i>&nbsp;导出
                </button>
            </div>
        </div>

        <!--DataGrid-->
        <div id="dg"></div>

        <!--dialog-->
        <div id="dlg" class="easyui-dialog" data-options="closed:true,border:false,modal:true,title:'添加发票'"
             style="display: none;width:300px;height:430px;padding: 15px 10px 0 10px">
            <form role="form" id="form" onsubmit="return invoice.create(form)">
                <div class="form-group required">
                    <label for="invoiceCode">发票代码</label>
                    <input type="number" class="form-control" id="invoiceCode" name="invoiceCode"
                           placeholder="发票代码（长度10位或者12位）"
                           required>
                </div>
                <div class="form-group required">
                    <label for="invoiceNumber">发票号码</label>
                    <input type="number" class="form-control" id="invoiceNumber" name="invoiceNumber"
                           placeholder="发票号码（长度8位）"
                           required>
                </div>
                <div class="form-group required">
                    <label for="billTime">开票日期</label>
                    <input type="date" class="form-control" id="billTime" name="billTime" placeholder="请选择开票日期"
                           required>
                </div>
                <div class="form-group required">
                    <label for="checkCode">校验码后六位</label>
                    <input type="number" class="form-control" id="checkCode" name="checkCode"
                           placeholder="校验码（检验码必须是后六位）"
                           required>
                </div>
                <div align="center" style="padding: 10px;">
                    <button type="button" class="btn btn-sm" id="btnClose"><i class="fa fa-fw fa-close"></i>&nbsp;取消
                    </button>
                    <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-fw fa-save"></i>&nbsp;提交
                    </button>
                </div>
            </form>
        </div>
    </section>
</section>
</body>
</html>
